* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}


body {
    background-color: dodgerblue;
    color: #ededed;

}

.header {
    position: fixed;
    top: 0;
    width: 100%;
    left: 0;
    padding: 20px 10%;
    background-color: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

h3,
p {
    margin: 10px;
    margin-top: 100px;

}


ul {
    margin: 20px;
    margin-top: auto;
}